script.
    var hashRoute = 'https://www.baidu.com';
    //var defaultRoute = '#{defaultRoute}';

    //var hash = window.location.hash;
    //if (hash.length) {
    //    window.location = hashRoute + hash;
        window.location = hashRoute;
    //} else {
    //    window.location = defaultRoute;
    //}
